.ratingForm {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

.ratingForm select {
  width: fit-content;
  margin-left: 2%;
}

.ratingForm button {
  width: fit-content;
  margin-left: 2%;
  color: #F3F3F3;
  background-color: #696F00;
  border-radius: 5px;
}

.delete-btn {
  width: fit-content;
  height: fit-content;
  margin-left: 2%;
  margin-top: 4%;
  color: #F3F3F3;
  background-color: #696F00;
  border-radius: 5px;
}

.user-rating {
  display: flex;
  justify-content: center;
  margin-left: 4%;
  margin-top: -3%;
}

.user-rating p {
  margin-top: 4.5%;
}