#single-movie {
  height: 80vh;
  width: 90%;
  background-color: blanchedalmond;
  margin-left: 5%;
  /* overflow: scroll; */
}

.movie-image {
  height: 30vh;
  width: 35vw;
  margin-right: 3%;
  margin-top: 3%;
  margin-left: -7%;
  border-radius: 10px;
}

#figure-container {
display: flex;
margin-left: 9%;
}

.movie-info {
  height:80vh;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 3%;
  margin-right: -6%;
  padding-top: 1%;
  overflow: scroll;
}

.other-info button {
  width: fit-content;
  height: fit-content;
  align-self: center;
  color: #F3F3F3;
  background-color: #696F00;
  border-radius: 5px;
}

.movie-info p {
  margin-top: 1%;
  margin-bottom: 1%
}

.tagline {
  margin-top: -2%;
  margin-bottom: 1%;
}

.other-info {
  display: flex;
  flex-direction: column;
  width: 41%;
  text-align: left;
  margin-top: -28%;
  margin-left: 3%;
  overflow: auto;
  height: 300px;
}

.userReview {
  display: flex;
  color: blue;
}

.userReview form {
  display: flex;
  width: 100%;
}

.userReview button {
  margin-left: 3%;
}

.comments {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 1%;
  width: 94.5%;
  background-color: #FFF5E6;
  border-radius: 5px;

}

.author {
  border: 1px solid black;
  margin: 0;
  display: flex;
  align-self: flex-end;
  padding: 1%;
  font-size: 12px;
  border-radius: 5px;
}