article {
  display: flex;
  flex-flow: column;
}

h4 {
  margin: 0px;
  padding: 0px;
}

div::before {
  content: '';
  z-index: -1;
  width: 100%;
  position: absolute;
}

div > img {
  top: 0; right: 0; bottom: 0; left: 0;
  padding-left: 10%;
  width: 90%;
  height: 95%;
  border-radius: 15px;
}

figcaption {
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
}

figcaption p {
  margin: 5px;
  padding: 0px;
}
