article {
  position: relative;
}

div::before {
  content: '';
  background: #58a;
  z-index: -1;
  width: 100%;
  position: absolute;
}

div > img {
  top: 0; right: 0; bottom: 0; left: 0;
  margin-left: 10%;
  width: 90%;
  height: 95%;
  border-radius: 15px;
}
