/* light- yellow: #F6FC69 */
/* lime-green: #696F00 */
/* dark-green: #474B00 */
/* deep-green:#0F1700 */
/* off-white: #F3F3F3 */

.App {
  text-align: center;
  background: #474B00;
  background-image: repeating-linear-gradient(30deg,
    hsla(0, 0%, 100%, .1),
    hsla(0, 0%, 100%, .1) 30px,
    transparent 0, transparent 60px);
}

.header {
  background-color: #0F1700;
  height: 8em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F3F3F3;
}

.headerTitle {
  text-decoration: none;
  color: #F3F3F3;
}

.title {
  margin-top: -10%;
}

.headerTitle h3 {
  margin-top: -5%;
  margin-bottom: 8%;
}

.headerTitle ::visited {
  color: #F3F3F3;
}

.App-link {
  color: #61dafb;
}

