/* light- yellow: #F6FC69 */
/* lime-green: #696F00 */
/* dark-green: #474B00 */
/* deep-green:#0F1700 */
/* off-white: #F3F3F3 */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

